.hidden {
    display: none !important;
}
.mr-space {
    position: relative;
    align-items: left;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 212px);
    height: auto;
    margin: 30px 0;
}

.mr-register {
    min-height: calc(100vh - 150px);
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 212px);
}

.mr-login {
    background-color: #FFF;
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.mr-login-button {
    margin-top: 20px;
    padding: 10px 40px;
    background: #D29500;
    color: #FFF;
    border-radius: 5px;
}
.mr-login-button:hover {
    background: #b88400;
    color: #FFF;
}
.mr-login-button:disabled {
    background: #fedb80;
    color: #FFF;
}