<div class="mr-space flex justify-center items-center">
    <div class="mr-card">
        <p class="mr-card--title">Vos batailles</p>
        <div class="mr-card--battle">
            <div class="mr-card--victory">
                <p class="mr-card--value">{{ wins }}</p>
                <p class="mr-card--type">Victoires</p>
            </div>
            <div class="mr-card--defeat">
                <p class="mr-card--value">{{ looses }}</p>
                <p class="mr-card--type">Défaites</p>
            </div>
        </div>
    </div>
    <div class="mr-card">
        <p class="mr-card--title">Vos points</p>
        <div class="mr-card--points">
            <p class="mr-card--value">{{ points }}</p>
            <p class="mr-card--type">Points</p>
        </div>
    </div>
</div>