<div class="mr-space">
  <img src="../../assets/img/marque_page.png" style="height: 1000px;position: absolute; right: -0px; z-index: 1;">
  <div class="mx-auto max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3 flex flex-col" style="align-items: center;">
    <p style="font-size: 48px; font-weight: 700;">Rejoint l’aventure</p>
    <img class="max-w-4xl" style="margin-top: -100px;" src="../../assets/img/maths_ranked_banner.png">
    <a href="#" style="font-size: 28px; color: #FFF1CE; background: #FD675A; padding: 20px;" class="rounded-2xl font-bold">Télécharger notre application</a>
  </div>
  <section class="relative">
    <img src="../../assets/img/bg1.svg" style="position: absolute; top: 0; width: 100%; height: 1400px; z-index: 0; object-fit: cover; object-position: 100% 0;">
    <div class="flex items-center justify-center relative flex-col" style="z-index: 1; height: 1400px;">
      <div class="grid" style="grid-template-columns: 50% 50%; width: 100%; padding-top: 50px;">
        <div class="flex flex-col items-end justify-center">
          <p style="font-size: 32px; font-weight: 700;">Soyez compétitif !</p>
          <p style="font-size: 28px; font-weight: 200;">Montrez que c’est VOUS le meilleurs !</p>
          <div style="margin-top: 45px; display: grid; grid-template-columns: auto 80px;">
            <div style="text-align: end;">
              <p style="font-size: 28px; font-weight: 700;">Commencez votre aventure !</p>
              <p style="font-size: 20px;">Rejoignez-nous, commencez par télécharger notre application !</p>
            </div>
            <div style="width: 60px; height: 60px; background: #FEB3AD; color: #F24E40; display: flex; justify-content: center; align-items: center; margin: 10px; border-radius: 15px; font-size: 32px; font-weight: 700;">1</div>
          </div>
          <div style="margin-top: 45px; display: grid; grid-template-columns: auto 80px;">
            <div style="text-align: end;">
              <p style="font-size: 28px; font-weight: 700;">Connectez-vous / Inscrivez-vous</p>
              <p style="font-size: 20px;">Connectez-vous à votre compte, ou créez le !<br>Rejoignez nos membres déjà présent !</p>
            </div>
            <div style="width: 60px; height: 60px; background: #FAE9C1; color: #F8C64D; display: flex; justify-content: center; align-items: center; margin: 10px; border-radius: 15px; font-size: 32px; font-weight: 700;">2</div>
          </div>
          <div style="margin-top: 45px; display: grid; grid-template-columns: auto 80px;">
            <div style="text-align: end;">
              <p style="font-size: 28px; font-weight: 700;">Jouez et devenez le meilleur !</p>
              <p style="font-size: 20px;">Appuyez sur “Jouer”, affrontez les autres joueurs présents,<br>et devenez le meilleur !</p>
            </div>
            <div style="width: 60px; height: 60px; background: #C5EBEF; color: #52AEB8; display: flex; justify-content: center; align-items: center; margin: 10px; border-radius: 15px; font-size: 32px; font-weight: 700;">3</div>
          </div>
        </div>
        <div class="flex flex-col items-center">
          <img src="../../assets/img/app_presentation.png" style="width: 561px; height: 833px;">
        </div>
      </div>
      <a href="#" style="font-size: 28px; color: #FFF1CE; background: #FD675A; padding: 20px;" class="rounded-2xl font-bold">Télécharger notre application</a>
    </div>
  </section>
</div>