<div class="mx-auto max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3 flex flex-col mr-space">
    <div class="mr-classement--base">
        <table class="mr-classement">
            <tbody>
                <tr class="mr-class--top" *ngFor="let element of classement; let  i = index;" [class.mr-class--top]="i == 0" [class.mr-class--second]="i == 1" [class.mr-class--third]="i == 2" [class.mr-class--other]="i > 2">
                    <td [class.mr-class--top--class]="i == 0" [class.mr-class--second--class]="i == 1" [class.mr-class--third--class]="i == 2" [class.mr-class--other--class]="i > 2">{{ i + 1 }}</td>
                    <td [class.mr-class--top--name]="i == 0" [class.mr-class--second--name]="i == 1" [class.mr-class--third--name]="i == 2" [class.mr-class--other--name]="i > 2">{{ element.pseudonyme }}</td>
                    <td [class.mr-class--top--pts]="i == 0" [class.mr-class--second--pts]="i == 1" [class.mr-class--third--pts]="i == 2" [class.mr-class--other--pts]="i > 2">{{ element.points }}pts</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>