<div class="mx-auto max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3 flex flex-col mr-space">
    <div class="mr-classement--base">
        <table class="mr-classement">
            <tbody>
                <tr class="mr-class--top">
                    <td class="mr-class--top--class">1</td>
                    <td class="mr-class--top--name" >Mathis</td>
                    <td class="mr-class--top--pts"  >3000pts</td>
                </tr>
                <tr class="mr-class--second">
                    <td class="mr-class--second--class">2</td>
                    <td class="mr-class--second--name" >Mathis</td>
                    <td class="mr-class--second--pts"  >3000pts</td>
                </tr>
                <tr class="mr-class--third">
                    <td class="mr-class--third--class">3</td>
                    <td class="mr-class--third--name" >Mathis</td>
                    <td class="mr-class--third--pts"  >3000pts</td>
                </tr>
                <tr class="mr-class--other">
                    <td class="mr-class--other--class">4</td>
                    <td class="mr-class--other--name" >Mathis</td>
                    <td class="mr-class--other--pts"  >3000pts</td>
                </tr>
                <tr class="mr-class--other">
                    <td class="mr-class--other--class">5</td>
                    <td class="mr-class--other--name" >Mathis</td>
                    <td class="mr-class--other--pts"  >3000pts</td>
                </tr>
                <tr class="mr-class--other">
                    <td class="mr-class--other--class">6</td>
                    <td class="mr-class--other--name" >Mathis</td>
                    <td class="mr-class--other--pts"  >3000pts</td>
                </tr>
                <tr class="mr-class--other">
                    <td class="mr-class--other--class">7</td>
                    <td class="mr-class--other--name" >Mathis</td>
                    <td class="mr-class--other--pts"  >3000pts</td>
                </tr>
                <tr class="mr-class--other">
                    <td class="mr-class--other--class">8</td>
                    <td class="mr-class--other--name" >Mathis</td>
                    <td class="mr-class--other--pts"  >3000pts</td>
                </tr>
                <tr class="mr-class--other">
                    <td class="mr-class--other--class">9</td>
                    <td class="mr-class--other--name" >Mathis</td>
                    <td class="mr-class--other--pts"  >3000pts</td>
                </tr>
                <tr class="mr-class--other">
                    <td class="mr-class--other--class">10</td>
                    <td class="mr-class--other--name" >Mathis</td>
                    <td class="mr-class--other--pts"  >3000pts</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>